---
import Layout from "../layouts/Layout.astro"
---
<Layout title="about of the project">
    <h1 class="text-white">
    About the project.
    </h1>

    <p class="text-white text-center ">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis excepturi vel magni accusantium nihil fugit dolore sequi eius est vitae culpa, fuga quo doloremque repudiandae repellendus, incidunt iusto perferendis fugiat.
    </p>
</Layout>
